<!doctype html>
<html lang="ru">
{% set app_name = config['APP_NAME'] %}
{% set app_title = config['APP_TITLE'] %}
{% set ver = config['VERSION'] %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>{{ app_title }}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}?ver={{ ver }}" rel=stylesheet type=text/css media="screen,projection">
</head>
<body>
<div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">{{ app_title }}</h3>
            <nav class="nav nav-masthead justify-content-center">
                <!--<a class="nav-link active" href="#">Home</a>-->
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        {% if current_user and current_user.is_authenticated %}
            <form method=post class="upload-file" action="/upload-file" enctype=multipart/form-data style="display: none">
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
            <button type="button" class="btn btn-lg btn-light btn-upload">Загрузить архив</button>
        {% else %}
            <h1 class="cover-heading">Необходима авторизация</h1>
            <p class="lead"><a href="#" class="btn btn-lg btn-secondary btn-login" data-toggle="modal" data-target="#loginModal">Войти</a></p>
        {% endif %}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>{{ app_name }} created by <a href="https://flionic.ml">@flionic</a></p>
        </div>
    </footer>
</div>
{% if current_user.is_anonymous %}
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Авторизация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="loginForm" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="mainPassword">Пароль</label>
                            <input type="password" class="form-control" id="mainPassword" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% if current_user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function () {
           $('.btn-upload').click(function () {
               console.log('clicked');
               $('.upload-file :file').click();
               $('.upload-file :file').on('change', function () {
                   $('.upload-file :submit').click()
               });
           });
        });
    </script>
{% else %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginForm').submit(function (e) {
                e.preventDefault();
                $.post('/login', {"password": $('#mainPassword').val()})
                    .always(function () {
                        window.location.replace("/");
                    });
            });
        });
    </script>
{% endif %}
</body>
</html>
